<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quizz app</h1>
    <p class="col-md-8 fs-4">This is CS quizz, have 10 questions</p>
    <h4>Rules: </h4>
    <ol>
        <li>Correct Question gives you, 4 points</li>
        <li>Incorrect answer gives you -1 points</li>
        <li>You will have 60 seconds to answer any question</li>
        <li>Refreshing the page will reset the quiz</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">Best of Luck!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name:</label>
        <input type="text" class="form-control" [(ngModel)]="user">
    </div>
    <button class="btn btn-primary btn-lg"
        [routerLink]="['/question']"[queryParams]="{user: user}">Start
        the
        quiz.</button>
</div>